.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
api_key.js
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
python/__pycache__/*
python/cleansed_family_income.csv
python/2021.annual.by_industry*
python/income.csv
